<a href="/post/{{id}}">
    <div class="title">
        <span>{{title}}</span>
    </div>
    <div>
        Posted by
        {{user.username}}
        on
        {{format_date created_at}}
    </div>
    <div>
        {{content}}
    </div>
</a>