<article class="post">
    <div class="title">
        <span>({{title}})</span>
    </div>
    <div>
        {{content}}
        {{created_at}}
        |
        {{!-- <a href="/post/{{id}}">{{comments.length}} {{"comment" comments.length}}</a> --}}
    </div>
</article>