<div class="border">
    <div class="card-header d-flex justify-content-between ">
        <h3>{{post.title}}</h3>
        <div>
            Posted by
            {{post.user.username}}
            on
            {{format_date post.createdAt}}
        </div>
    </div>
    <div class="card-body">
        {{post.content}}
    </div>

    <h4>Comments:</h4>

    <div class="border">
        {{#each post.comments as |post|}}
        {{> comments post}}
        {{/each}}
    </div>

    {{#if loggedIn}}
    <form class="comment-form m-3">
        <label class="form-label" for="comment-textarea">Add Comment:</label>
        <textarea class="form-control" id="comment-textarea" name="comment-textarea">
    </textarea>
        <div>
            <button class="btn btn-primary " type="submit">submit comment</button>
        </div>
    </form>
    <script src="/javascript/comment.js"></script>
    {{else}}
    <p><a href="/login">Login</a> to add comment</p>
    {{/if}}
</div>